@import 'src/media';

.contacts {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 29px;
  @include tablet {
    flex-direction: column;
  }

  @include desktop {
    flex-direction: column;
  }

  &__map {
    width: 50%;
    position: relative;
    @include tablet {
      width: 100%;
    }

    @include desktop {
      width: 100%;
    }

    &-picture {
      width: 100%;
      height: 100%;
      object-fit: contain;
      //width: 655px;
      //height: 565px;
    }

    &-pin {
      position: absolute;
      left: 268px;
      top: 181px;
    }
  }

  &__form {
    width: 50%;
    @include tablet {
      width: 100%;
    }

    @include desktop {
      width: 100%;
    }
  }
}

.form {
  &__row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    position: relative;

    &--mt43 {
      margin-top: 43px;
    }

    &:first-child {
      margin-top: 0;
    }

    &-wrapper {
      position: relative;
      max-width: 329px;
      height: 49px;
      width: 50%;
      margin-right: 10px;
      @include desktop {
        width: 100%;
        max-width: unset;
      }

      &:last-child {
        margin: 0;
      }
    }
  }

  &__input {
    border-radius: 10px;
    border: 1px solid rgba(10, 10, 10, 0.89);
    background: transparent;
    //position: relative;
    max-width: 329px;
    height: 49px;
    width: 100%;
    margin-right: 10px;
    padding: 15px;
    font-family: 'Jost', sans-serif;
    font-size: 16px;

    @include desktop {
      max-width: unset;
    }

    &--wide {
      width: 100%;
      max-width: unset;
      height: 279px;
      resize: none;
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &-label {
      position: absolute;
      left: 20px;
      top: -9px;
      padding: 0 5px;
      background: #fff;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      color: rgba(10, 10, 10, 0.89);
    }
  }

  &__counter {
    position: absolute;
    font-size: 12px;
    font-weight: 400;
    color: rgba(10, 10, 10, 0.89);
    right: 15px;
    bottom: 10px;
  }

  &__select {
    border-radius: 10px;
    border: 1px solid rgba(10, 10, 10, 0.89);
    background: #f9f9f9;
    width: 100%;
    height: 49px;
    padding: 15px;
  }

  &__label {
    &-text {
      padding-left: 6px;
      color: rgba(10, 10, 10, 0.89);
      font-size: 12px;
      font-weight: 400;
    }
  }
}

.showrooms {
  margin-top: 79px;

  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 27px;
    background: #f2f0ea;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    gap: 100px;
    padding: 10px;

    @include tablet {
      flex-direction: column;
      align-items: flex-start;
      gap: 25px
    }

    @include desktop {
      flex-direction: column;
      align-items: flex-start;
      gap: 25px
    }

    &--no-margin {
      border-radius: 0 0 10px 10px;
      margin-top: 0;
    }

    &-item {
      width: 50%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      @include tablet {
        width: 100%;
        align-items: flex-end;
      }

      & img {
        @include tablet {
          width: 50%;
        }
      }

      &-info {
        margin-left: 21px;
      }

      &-title {
        color: #694e35;
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
        font-weight: 300;
        margin-top: 10px;
      }

      &-wrapper {
        margin-top: 30px;
        color: #694e35;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}

.phone {
  color: #694e35;
  font-size: 16px;
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.info {
  margin-top: 33px;

  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    @include tablet {
      flex-direction: column;
    }
  }

  &__title-container {
    //border-right: 2px solid rgba(10, 10, 10, 0.89);
  }

  &__title {
    text-transform: uppercase;
    color: rgba(10, 10, 10, 0.89);
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 300;
    line-height: 100%;
    padding-right: 15px;
    border-right: 2px solid rgba(10, 10, 10, 0.89);
  }

  &__address {
    margin-left: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    @include tablet {
      margin-left: 0;
      flex-direction: column;
    }

    & p {
      color: rgba(10, 10, 10, 0.89);
      font-size: 28px;
      font-weight: 400;
      line-height: 149.5%;
      margin-top: 4px;
    }
  }

  &__contacts {
    margin-left: 30px;
    @include tablet {
      margin-left: 0;
    }

    &-phone,
    &-email {
      display: flex;
      align-items: center;
    }

    &-icon {
      width: 31px;
      height: 29px;
    }
  }

  &__contact {
    color: rgba(10, 10, 10, 0.89);
    font-size: 28px;
    font-weight: 400;
    padding-left: 9px;
  }
}
